<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Sarah Plane</h1>
                <h2 class="section-heading">The Abridged Version</h2>
                <hr class="light">
                <p class="text-faded">I was born in California.</p>
                <hr class="light">
                <p class="text-faded">I grew up in Boise, Idaho.</p>
                <hr class="light">
                <p class="text-faded">I moved to Shanghai, China when I was 18.</p>
                <hr class="light">
                <p class="text-faded">I returned to Boise for my 1st degree: B.A. Linguistics.</p>
                <hr class="light">
                <p class="text-faded">I moved to Ota-shi, Gunma, Japan and taught English at NOVA.</p>
                <hr class="light">
                <p class="text-faded">I moved to Canberra, Australia then Sydney, Australia for my 2nd degree: M.A. Linguistics.</p>
                <hr class="light">
                <p class="text-faded">I spent six months in Yunnan, China recording previously undocumented, endangered languages.</p>
                <hr class="light">
                <p class="text-faded">I traveled to Thailand, Singapore, Fiji, New Zealand, Malaysia, and the Bahamas. Don't stop me now!</p>
                <hr class="light">
                <p class="text-faded">I am back in my hometown Boise, Idaho getting my 3rd degree: B.S. Computer Science, and then another Masters.</p>
                <hr class="light">
                <p class="text-faded">I love volunteering with different organizations, especially ones working with refugees, kids, or puppies.</p>
                <hr class="light">
                <p class="text-faded">I read a lot of SciFi, but sometimes I crack open books about sailing, animals, hardship, or adventure.</p>
                <hr class="light">
                <p class="text-faded">I can't pick a 'favorite' of most things because I enjoy variety, versatility, and variegation.</p>
                <hr class="light">
                <p class="text-faded">I have a crazy big American-Lebanese family, think 'My Big-Fat Greek Wedding'.</p>
                <hr class="light">
                <p class="text-faded">I married my highschool sweetheart, I'd be completely lost without him!</p>
                <hr class="light">
                <p class="text-faded">I love the beach and the ocean, it's my ultimate happy place.</p>
                <hr class="light">
                <p class="text-faded">I am a dog person, because cats are weird.</p>
                <hr class="light">
                <p class="text-faded">I really like the color green.</p>
                <hr class="light">
                <i class="fa fa-5x fa-plane wow bounceIn text-color" data-wow-delay=".3s"></i>
            </div>
        </div>
    </div>
</section>
