<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>"Words are always</h1>
            <h1>Qualifications 
            <h1>and</h1>
            <h1>limitations"</h1>
            <p>-Joseph Campbell</p>
            <hr>
            <p class= "header-content-lower">As Linguist and a Computer Scientist, I have a profound appreciation for both, natural and programming langauges - with all their semantic and syntactic complexities.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Tell me more</a>
        </div>
    </div>
</header>
