<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://ses.library.usyd.edu.au/handle/2123/15578" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MA Linguistics Thesis
                            </div>
                            <div class="project-name">
                                "Role of Place and Manner in Tonogenesis: A Case Study with Kurtöp"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://coen.boisestate.edu/slim/" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SLIM: Cozmo Project
                            </div>
                            <div class="project-name">
                                SLIM (Speech, Language, & Interactive Machines) at Boise State, is working to teach Cozmo (the Anki Robot), natural language.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/sarahplane/sfeet2" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ruby on Rails: Sfeet App
                            </div>
                            <div class="project-name">
                              Sfeet (Smaller Feet) is a user-based product review website.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://english.boisestate.edu/linglab/projects/the-boise-language-project/" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Boise Language Project
                            </div>
                            <div class="project-name">
                                The Mary Ellen Ryder Linguistics Lab at Boise State is building an app to assist the interactions between refugees and service providers in Boise.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://firebirdfellowships.org/fellowships-2016.html" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Firebird Foundation Fellowship
                            </div>
                            <div class="project-name">
                                To document the oral histories and traditions of endangered Chinese minority languages of Yunnan.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                More to come...
                            </div>
                            <!-- <div class="project-name">
                                Project Name
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
